{
    "extends": "airbnb-base",
    "globals": {
        "jQuery": true,
        "Foundation": true,
        "window": true,
        "document": true,
        "GF": true
    },
    "rules": {
        "indent": ["error", 4],
        "no-await-in-loop": 0,
        "no-restricted-syntax": 0,
        "no-shadow": 0,
        "comma-dangle": ["error", {
            "functions": "never"
        }],
        "no-param-reassign": 0,
        "no-plusplus": 0,
        "no-useless-return": 0,
        "func-names": 0,
        "object-shorthand": 0,
        "no-underscore-dangle": 0
    }
}
