<head data-sly-use.head="head.js"
	  data-sly-use.wcmInit="initwcm.js"
	  data-sly-use.headlibRenderer="headlibs.html"
	  data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">

	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no">
	<meta name="keywords" content="${head.keywords}">
	<meta name="description" content="${head.description}">
	<meta data-sly-call="${headlibRenderer.headlibs @ designPath=head.designPath}" data-sly-unwrap></meta>
	<!--/* Outputs the WCM initialization code.If WCM mode is disabled nothing is rendered */-->
	<meta data-sly-test="${!wcmmode.disabled && wcmInit.isTouchAuthoring}" data-sly-call="${clientLib.all @ categories='cq.authoring.page'}" data-sly-unwrap></meta>
	<meta data-sly-test="${!wcmmode.disabled && !wcmInit.isTouchAuthoring}" data-sly-call="${clientLib.all @ categories='cq.wcm.edit'}" data-sly-unwrap></meta>
	<!--/* WCM initialization code end */-->

	<!--/* styles shared this specific brand page template */-->
	<sly data-sly-include="styles.html" data-sly-unwrap></sly>
</head>
