html {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

body {
  @include flexbox();
  @include flex-direction(column);
  min-height: 100vh;
  background-color: red;
}

main {
  @include flex(1);
}
